<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Tracks of the Month</title>
  </head>
  <body>
    <h1>Top Tracks of the Month</h1>
    <ul>
      <% topTracks.forEach(track => { %>
      <li><%= track.name %></li>
      <% }) %>
    </ul>
    <a href="/stats">Back to Stats</a>
  </body>
</html>